<main>
    <div class="headerDiv">
        <h2>Contatos</h2>
        <button class="addContactBtn" (click)="addContact()">Adicionar Contato</button>
    </div>
    <div class="listDiv">
        @for (item of contacts; track $index) {
            <app-contact [id]="$index" [name]="item.name" [description]="item.description" [adress]="item.adress" (onDeleteButtonEvent)="deleteContact($event)"></app-contact>
        }
        @for (item of services; track $index){
            <app-service [id]="item.id" [description]="item.description" [manager]="item.manager" [team]="item.team"></app-service>
        }
    </div>
</main>